<h2 class="section-title mt-5"><i class="fas fa-users me-2"></i>現在の学生一覧 ({{ current_class }})</h2>
<div class="card p-4 mb-4">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">学生番号</th>
                <th scope="col">氏名</th>
                <th scope="col">学科</th>
            </tr>
        </thead>
        <tbody>
            {# Pythonコードから渡された 'students' リストをループ処理する #}
            {% for student in students %}
            <tr>
                {# student[0]: 学生番号, student[1]: 生徒名, student[2]: 学科名 #}
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" class="text-center text-muted">この学科には学生データが登録されていません。</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
